.details {
  margin-top: 2rem;
  background-color: #fde873;
  border-radius: .5rem;
  padding: 1rem;
  &__title {
    margin: 0;
  }
}

.button {
  display: block;
  width: 5rem;
  height: 1.5rem;
  margin: .5rem auto;
  border: none;
  line-height: 1.5rem;
  background-color: #fde873;
  color: #858585;
  border-radius: .3rem;
  &:hover {
    background-color: #858585;
    color: #fde873;
  }
}
