.container {
  width: 75%;
  margin: 1rem auto;
  & .label {
    font-weight: 600;
    color: #2e4d90;
  }
  & #search-box {
    margin-left: .5rem;
    background-color: #faf1c4;
    border: none;
    &:active {
      outline: none;
    }
  }
  & .search-result {
    &__item {
      width: 7rem;
      height: 2rem;
      background-color: #fde873;
      border-radius: .3rem;
      padding-left: .5rem;
      padding-right: .5rem;
      margin: .5rem auto;
      list-style-type: none;
      text-align: center;
      & .link {
        text-decoration: none;
        line-height: 2rem;
        color: #0d1d47;
        &:hover {
          color: #08837e;
        }
      }
    }
  }

}
